backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
blinker==1.4
cssmin==0.2.0
docutils==0.16
feedgenerator==1.9.1
htmlmin==0.1.12
Jinja2==2.11.2
joblib==0.14.1
jsmin==2.2.2
Markdown==2.6.8
MarkupSafe==1.1.1
pelican==3.6.3
pelican-minify==0.9
Pygments==2.5.2
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
soupsieve==1.9.6
Unidecode==1.1.1
webassets==2.0

