{% extends "base.html" %}
{% block title %}Semiversus | {{ article.title }}{% endblock %}
{% block header %}{% if article.latex %}{{ article.latex }}{% endif %}{% endblock %}

{% block head %}
  <div class="visible-print-block">Semiversus | {{ article.title }}</div>
{% endblock %}

{% block content %}
  <h1>{{ article.title }}</h1>
  <p>{% include 'metadata.html' %}<a href="{{ SITEURL }}/{{ article.url.replace('html','md') }}"  class="glyphicon glyphicon-file >text-right"></a></p>
  {{ article.content }}
{% endblock %}
