{% extends "base.html" %}
{% block title %}Semiversus | {{ article.title }}{% endblock %}
{% block header %}{% if article.latex %}{{ article.latex }}{% endif %}{% endblock %}

{% block head %}
  <div class="visible-print-block">Semiversus | {{ article.title }}</div>
{% endblock %}

{% block content %}
  <h2>{{ article.title }}</h2>
  <p>{% include 'metadata.html' %}<a href="{{ SITEURL }}/{{ article.url.replace('html','md') }}"  class="btn btn-default btn-xs pull-right hidden-print" data-toggle="tooltip" data-placement="bottom" title="Quelltext zu dieser Seite"><span class="glyphicon glyphicon-file"></span></a></p>
  {{ article.content }}
{% endblock %}
