<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Semiversus{% endblock %}</title>
  <meta name="description" content="{% block description %}Blog from Günther Jena{% endblock %}">
  <meta name="author" content="Günther Jena">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="O-3LVEziPiVrCYqFCwbLmB3s7lNG__cPMLLAr_RUxbA" />
  <meta name="msvalidate.01" content="70DFF0E672B42811AA384CC455C9406C" />
  <link rel="icon" href="{{ SITEURL }}/favicon.ico">
  <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet" type="text/css">
  {% block header %}{% endblock %}
</head>
<body data-spy="scroll" data-target="#sidebar" data-offset=30>
  <nav class="navbar navbar-expand-lg navbar-dark flex-column bg-dark ">
    <div class="container">
      <a href="{{ SITEURL }}/index.html" class="navbar-brand">SEMIVERSUS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="{{ SITEURL }}/index.html">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ SITEURL }}/dic/uebersicht.html">Unterricht</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ SITEURL }}/projekte/projekte.html">Projekte</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ SITEURL }}/about.html">Über mich</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="container" role="main">
    {% block head %}{% endblock %}
    <div class="row">
      <div class="col-md-8">
      {% block content %}{% endblock %}
      </div>
      <aside class="col-md-4" role="complementary">
      {% block sidebar %}{% endblock %}
      </aside>
    </div>
    {% block foot %}{% endblock %}
  </main>
  <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
