{% extends "base.html" %}
{% block content %}
  {% for article in (articles_page.object_list if articles_page else articles) %}
    <article>
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <p>{% include 'metadata.html' %}</p>
      <div class="summary">
          {{ article.summary }}
          {% if article.summary != article.content %}<a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">Weiterlesen...</a>{% endif %}
      </div>
    </article>
  {% if not loop.last %}<hr />{% endif %}
  {% endfor %}

  {% include 'pagination.html' %}
{% endblock content %}
