{% extends "base.html" %}
{% block content %}
  {% if articles_previous_page==None %}
  <h1>Übersicht</h1>
  <p>Hier findet sich mein privater Blog und <a href="./dic/uebersicht.html">Unterrichtsmaterial</a> für das Fach <em>Digitale Systeme und Computersysteme</em> an der <a href="http://www.htl-rankweil.at" class="external">HTL Rankweil</a>.</p>
  <p>Alle Inhalte (sofern nicht anders gekennzeichnet) befinden sich unter der <a href="http://creativecommons.org/licenses/by-sa/3.0/de/" class="external">CC BY-SA 3.0 DE</a> Lizenz.</p>
  <p>Aktuell finden sich folgende Stichwörter:<br />
{% for tag,articles in tags %}<a href="{{ SITEURL }}/{{ tag.url }}" class="badge badge-primary">{{ tag }}</a> {% endfor %}
</p>
  <h1>Blog</h1>
  {% endif %}

  {% for article in (articles_page.object_list if articles_page else articles) %}
    <div class="card border-dark mb-3">
      <h4 class="card-header">{{ article.title }}</h4>
      <div class="card-body">
        {% if article.image %}
          <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.dirname }}/{{ article.image }}" class="img-responsive float-left mr-4" alt="{{ article.title }}"></a>
        {% endif %}
        {% if article._summary %}
          {{ article._summary }}
        {% else %}
          {{ article.summary }}
        {% endif %}
        {% if article.summary != article.content %}
          <p><a class="btn btn-primary float-right" href="{{ SITEURL }}/{{ article.url }}">Weiterlesen...</a></p>
        {% endif %}
      </div>
      <div class="card-footer text-muted">{% include 'metadata.html' %}</div>
    </div>
  {% endfor %}

  {% include 'pagination.html' %}
{% endblock content %}

{% block javascript %}
  <script async data-isso="https://comments.semiversus.com" data-isso-lang="de" src="{{ SITEURL }}/theme/js/count.min.js"></script>
{% endblock %}
