{% extends "base.html" %}
{% block content %}
  <h1>Übersicht</h1>
	<ul>
		<li><a href="./dic/grundlagen_der_digitaltechnik/uebersicht.html">Grundlagen der Digitaltechnik</a></li>
		<li><a href="./dic/programmierbare_logik/uebersicht.html">Programmierbare Logik</a></li>
		<li><a href="./dic/mikrocontroller/uebersicht.html">Mikrocontroller</a></li>
		<li><a href="./dic/hardwarenahe_programmierung/uebersicht.html">Hardwarenahe Programmierung</a></li>
		<li><a href="./dic/halbleiterelemente/uebersicht.html">Halbleiterelemente</a></li>
		<li><a href="./dic/bussysteme/uebersicht.html">Bussysteme</a></li>
		<li><a href="./dic/rechnerarchitektur/uebersicht.html">Rechnerarchitektur</a></li>
		<li><a href="./dic/digitale_signalverarbeitung/uebersicht.html">Digitale Signalverarbeitung</a></li>
		<li><a href="./dic/komplexe_digitale_systeme/uebersicht.html">Komplexe digitale Systeme</a></li>
	</ul>
{% endblock content %}
