<p><span class="fa fa-calendar"></span> {{ article.date.strftime("%d.%m.%Y") }} | <a href="{{ SITEURL }}/{{ article.url }}#isso-thread"><span class="fa fa-spinner fa-pulse"></span> Kommentare</a> | {% if article.tags|length==1 %}Tag{% else %}Tags{% endif %}:
{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
<span class="pull-right hidden-print">
<a href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL|urlencode }}%2F{{ article.url|urlencode }}" title="Teilen auf Facebook" target="_blank" class="btn btn-facebook btn-xs"><span class="fa fa-fw fa-facebook"></span><span class="hidden-xs"> Facebook</span></a>
<a href="https://plus.google.com/share?url={{ SITEURL|urlencode }}%2F{{ article.url|urlencode }}" title="Teilen auf Google+" target="_blank" class="btn btn-googleplus btn-xs"><span class="fa fa-fw fa-google-plus"></span><span class="hidden-xs"> Google+</span></a>
<a href="http://twitter.com/home?status={{ SITEURL|urlencode }}%2F{{ article.url|urlencode }}" title="Teilen auf Twitter" target="_blank" class="btn btn-twitter btn-xs"><span class="fa fa-fw fa-twitter"></span><span class="hidden-xs"> Twitter</span></a>
</span></p>
<div class="clearfix"></div>
