{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block header %}
  {% if page.latex %}{{ page.latex }}{% endif %}
  {% for translation in page.translations %}<link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{translation.url }}" />{% endfor %}
{% endblock %}

{% block head %}
    <div class="visible-print-block">Semiversus | {{ page.title }}</div>
    {% if page.parent %}<ol class="breadcrumb hidden-print">{% for p in page.parent_list[::-1] %}<li><a href="{{ SITEURL }}/{{p.url}}">{{p.title}}</a></li>{% endfor %}<li><strong>{{ page.title }}</strong></li></ol>{% endif %}
    {% if page.next or page.prev %}<nav class="hidden-print"><ul class="pager">
      {% if page.prev%}<li class="previous"><a href="{{ SITEURL }}/{{page.prev.url}}">&larr; {{ page.prev.title }}</a></li>{% endif %}
      {% if page.next%}<li class="next"><a href="{{ SITEURL }}/{{page.next.url}}">{{ page.next.title }} &rarr;</a></li>{% endif %}</ul></nav>
    {% endif %}
{% endblock %}

{% block content %}
  <header><h1>{{ page.title }}<div class="pull-right hidden-print">{% for translation in page.translations %}<a href="{{ SITEURL }}/{{ translation.url }}" class="btn btn-primary btn-xs">{{ translation.lang.replace('en', 'English').replace('de', 'Deutsch') }}</a>{% endfor %}<a href="{{ SITEURL }}/{{ page.url.replace('html','md') }}"  class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="Quelltext zu dieser Seite"><span class="fa fa-file-text-o fa-lg"></span></a></div></h1></header>
  {{ page.content }}
{% endblock %}

{% block sidebar %}
  {% if page.toc and not page.protected %}
    <nav class="well well-sm" data-spy="affix" data-offset-top="0" id="sidebar">
    {{ page.toc }}
    </nav>
  {% endif %}
{% endblock %}
