<!--
Google IO 2012 HTML5 Slide Template

Authors: Eric Bidelman <ebidel@gmail.com>
         Luke Mahe <lukem@google.com>

URL: https://code.google.com/p/io-2012-slides
-->
<!DOCTYPE html>
<html>
<head>
  <title>Semiversus | {{ page.title }}</title> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--This one seems to work all the time, but really small on ipad-->
  <!--<meta name="viewport" content="initial-scale=0.4">-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="{{ SITEURL }}/theme/css/slides.css">
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="{{ SITEURL }}/theme/css/slides_phone.css">
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
  <script data-main="{{ SITEURL }}/theme/js/slides" src="{{ SITEURL }}/theme/js/require-1.0.8.min.js"></script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">
{% for slide in page.slides %}
<slide {% if slide.class %}class="{{- slide.class -}}"{% endif %} {% if slide.image %}style="background-image: url({{- slide.image -}})"{% endif %}>
  {% if 'title-slide' in slide.class %}
    <hgroup class="auto-fadein">
      <h1>{{ slide.title }}</h1>
      <p>{{ slide.author }} - {{page.date.strftime('%d.%m.%Y')}}</p>
    </hgroup>
  {% elif 'segue' in slide.class %}
    <hgroup class="auto-fadein">
      <h2>{{- slide.title -}}</h2>
      <h3>{{- slide.subtitle -}}</h3>
    </hgroup>
  {% else %}
    <hgroup>
      <h2>{{- slide.title -}}</h2>
      <h3>{{- slide.subtitle -}}</h3>
    </hgroup>
    <article {% if slide.content_class %}class="{{- slide.content_class -}}"{% endif %}>
    {{- slide.content -}}
    </article>
 {% endif %}
</slide>
{% endfor %}
<slide class="backdrop"></slide>
</slides>

<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>
