@media screen {
  html {
    height:100%;
    overflow-y: scroll;
  }

  body {
    height:100%;
    position: relative;
  }
}

@media print {
  .page-header {
    margin:0;
    padding:0;
  }
  body, pre, .badge {
    font-size: 7pt;
  }
  .badge {
    vertical-align: baseline;
    padding: 0;
  }
  h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 2px;
  }
  ul, p {
    margin-bottom: 2px;
  }
  img {
    max-width: 50% !important;
    max-height: 50% !important;
  }
}

#sidebar {
  margin-top: 20px;
  position: fixed;
  min-width: 200px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0px;
}

#sidebar .nav>li {
  padding: 0px 0px 0px 10px;
}

#sidebar .nav>li>a {
  padding: 0px;
  color: #888;
}

#sidebar .nav>.active>a {
  padding: 0px;
  color: #000;
}

#sidebar li {
  padding-left: 10px;
}

#wrap {
  min-height:100%; 
  height:auto!important; 
  height:100%; 
  margin:0 auto -60px; 
  padding:0 0 60px;
}

#tipue_search_input {
  padding: 3px;
  width: 100px;
  height: inherit;
}

.breadcrumb {
  margin: 10px 0px;
}

.breadcrumb .pager {
  margin: 5px 0;
}

.pager {
  margin: 5px 0;
}

.btn {
  margin-left: 10px;
}

.navbar {
  border-radius: 0px !important;
  margin: 0 0 5px 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav>li>a {
  transition: all 0.3s ease 0s;
  padding: 0px 10px;
  line-height: 50px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #ddd;
}

.navbar-inverse .navbar-nav > li > a.social:hover,
.navbar-invers .navbar-nav >  a:hover {
  color: #9d9d9d;
}

.navbar-form {
  line-height: 50px;
  padding: 0px;
  margin: 0px;
}

.fa-linkedin:hover  {
  color: #0d7db8;
}

.fa-github:hover  {
  color: #4183c4;
}

.fa-stack-overflow:hover {
  color: #f69c55;
}

.fa-rss:hover {
  color: #f26522;
}

.fa {
  transition: all 0.3s ease 0s;
  vertical-align: middle;
}

.btn-twitter {
  background: #00acee;
  border-radius: 0;
  color: #fff
}

.btn-twitter:link, .btn-twitter:visited {
  color: #fff
}

.btn-twitter:active, .btn-twitter:hover {
  background: #0087bd;
  color: #fff
}

.btn-facebook {
  background: #3b5998;
  border-radius: 0;
  color: #fff
}

.btn-facebook:link, .btn-facebook:visited {
  color: #fff
}

.btn-facebook:active, .btn-facebook:hover {
  background: #30477a;
  color: #fff
}

.btn-googleplus {
  background: #e93f2e;
  border-radius: 0;
  color: #fff
}

.btn-googleplus:link, .btn-googleplus:visited {
  color: #fff
}

.btn-googleplus:active, .btn-googleplus:hover {
  background: #ba3225;
  color: #fff
}

hr {
  clear: both;
}

.featured-img {
  float: left!important;
  max-width: 258px;
  padding-right: 8px;
  padding-bottom: 10px;
}


h1 {
  font-size: 200%;
  border-bottom: 1px solid #aaa;
}

header h1 {
  border-bottom: none;
}

h2 {
  font-size: 128%;
  font-weight: bold;
}

h3 {
  font-size: 100%;
  text-decoration: underline;
}

.footer {
  min-height:40px;
  background-color:#f5f5f5;
}

.container {
  width:auto;
  max-width:1100px;
  padding:0 15px;
}

.container .credit {
  margin:10px 0;
}

.credit {
  line-height: 40px;
}

.panel-heading {
  padding:5px;
  border-bottom: 0px;
}

.panel-body {
  padding:5px;
}

.panel-body p {
  margin: 0px;
}

a.download:after {
  font-family: FontAwesome;
  content: '\f019';
  font-size: 80%;
  margin-left: 0.3em;
}

a.external:after {
  font-family: FontAwesome;
  content: '\f08e';
  font-size: 70%;
  margin-left: 0.3em;
}

figure {
  margin: 0 0 10px 0;
  padding: 4px;
  border: 1px solid #eee;
  display: table;
  max-width:100%;
}

img {
  max-width:100%;
}

figure img {
  display: block;
}

figcaption {
  text-align: center;
  display: table-caption;
  caption-side: bottom;
}

th {
  background: #dddddd;
  text-align: initial;
  vertical-align: bottom;
}

.container td, th {
  margin: 0;
  padding: 4px;
  border-width: 1px 1px 0 0;
  min-width: 50px;
}

.container table, td, th {
  border-color: gray;
  border-style: solid;
  margin: 0 0 10px 0;
  page-break-inside:auto;
  font-weight: normal;
}

.container table {
  border-width: 0 0 1px 1px;
  border-spacing: 0;
  border-collapse: collapse;
  max-width:100%;
}

blockquote p {
  font-size: 110%;
}

.latex-inline {
  vertical-align: middle;
}

article {
  margin-bottom: 10px;
}

pre {
  padding: 5px;
}
