@media screen {
  html {
    height:100%;
    overflow-y: scroll;
  }

  body {
    height:100%;
    position: relative;
  }
}

@media print {
  .page-header {
    margin:0;
    padding:0;
  }
  body, pre, .badge {
    font-size: 7pt;
  }
  .badge {
    vertical-align: baseline;
    padding: 0;
  }
  h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 2px;
  }
  ul, p {
    margin-bottom: 2px;
  }
  img {
    max-width: 50% !important;
    max-height: 50% !important;
  }
}

#sidebar {
  margin-top: 20px;
  position: fixed;
  min-width: 200px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0px;
}

#sidebar .nav>li {
  padding: 0px 0px 0px 10px;
}

#sidebar .nav>li>a {
  padding: 0px;
  color: #888;
}

#sidebar .nav>.active>a {
  padding: 0px;
  color: #000;
}

#sidebar li {
  padding-left: 10px;
}

#wrap {
  min-height:100%; 
  height:auto!important; 
  height:100%; 
  margin:0 auto -60px; 
  padding:0 0 60px;
}

#tipue_search_input {
  padding: 3px;
  width: 100px;
  height: inherit;
}

.breadcrumb {
  margin: 10px 0px;
}

.breadcrumb .pager {
  margin: 5px 0;
}

.pager {
  margin: 5px 0;
}

.btn {
  margin-left: 10px;
}

.navbar {
  border-radius: 0px !important;
  margin: 0 0 5px 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav>li>a {
  padding: 0px 10px;
  line-height: 50px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #ddd;
}

ul.socialicons {
  list-style: none;
  overflow: auto;
}

ul.socialicons li a span.icon {
  width: 32px;
  height: 33px;
  display: block;
  margin: 10px 0px;
  background: url(../img/social.png) no-repeat; 
}

ul.socialicons li a span.github { background-position: 0 -32px; }
ul.socialicons li a span.github:hover { background-position: 0 0; }
ul.socialicons li a span.linkedin{ background-position: -32px -32px; }
ul.socialicons li a span.linkedin:hover { background-position: -32px 0; }
ul.socialicons li a span.rss { background-position: -64px -32px; }
ul.socialicons li a span.rss:hover { background-position: -64px 0; }
ul.socialicons li a span.stackoverflow { background-position: -96px -32px; }
ul.socialicons li a span.stackoverflow:hover { background-position: -96px 0; }
ul.socialicons li a span.xing { background-position: -128px -32px; }
ul.socialicons li a span.xing:hover { background-position: -128px 0; }

.navbar-form {
  line-height: 50px;
  padding: 0px;
  margin: 0px;
}

hr {
  clear: both;
}

.featured-img {
  float: left!important;
  max-width: 258px;
  padding-right: 8px;
  padding-bottom: 10px;
}

h2 {
  font-size: 200%;
  border-bottom: 1px solid #aaa;
}

header h1 {
  border-bottom: none;
}

h3 {
  font-size: 128%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  text-decoration: underline;
}

.footer {
  min-height:40px;
  background-color:#f5f5f5;
}

.container {
  width:auto;
  max-width:1100px;
  padding:0 15px;
}

.container .credit {
  margin:10px 0;
}

.credit {
  line-height: 40px;
}

.panel-heading {
  padding:5px;
  border-bottom: 0px;
}

.panel-body {
  padding:5px;
}

.panel-body p {
  margin: 0px;
}

a.download:after {
  content: '';
}

a.external:after {
  content: '';
}

figure {
  margin: 0 0 10px 0;
  padding: 4px;
  border: 1px solid #eee;
  display: table;
  max-width:100%;
}

img {
  max-width:100%;
}

figure img {
  display: block;
}

figcaption {
  text-align: center;
  display: table-caption;
  caption-side: bottom;
}

th {
  background: #dddddd;
  text-align: initial;
  vertical-align: bottom;
}

.container td, th {
  margin: 0;
  padding: 4px;
  border-width: 1px 1px 0 0;
  min-width: 50px;
}

.container table, td, th {
  border-color: gray;
  border-style: solid;
  margin: 0 0 10px 0;
  page-break-inside:auto;
  font-weight: normal;
}

.container table {
  border-width: 0 0 1px 1px;
  border-spacing: 0;
  border-collapse: collapse;
  max-width:100%;
}

blockquote p {
  font-size: 110%;
}

.latex-inline {
  vertical-align: middle;
}

article {
  margin-bottom: 10px;
}

pre {
  padding: 5px;
}
