@media screen {
  html {
    height:100%;
    overflow-y: scroll;
  }

  body {
    height:100%;
    position: relative;
  }
}

@media print {
  .page-header {
    margin:0;
    padding:0;
  }
  body, pre, .badge {
    font-size: 7pt;
  }
  .badge {
    vertical-align: baseline;
    padding: 0;
  }
  h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 2px;
  }
  ul, p {
    margin-bottom: 2px;
  }
  img {
    max-width: 50% !important;
    max-height: 50% !important;
  }
}

.label {
  vertical-align: text-top;
}

#sidebar {
  margin-top: 20px;
  position: fixed;
  min-width: 200px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0px;
}

#sidebar .nav>li {
  padding: 0px 0px 0px 10px;
}

#sidebar .nav>li>a {
  padding: 0px;
  color: #888;
}

#sidebar .nav>.active>a {
  padding: 0px;
  color: #000;
}

#sidebar li {
  padding-left: 10px;
}

#wrap {
  min-height:100%; 
  height:auto!important; 
  height:100%; 
  margin:0 auto -60px; 
  padding:0 0 60px;
}


.breadcrumb .pager {
  margin: 5px 0;
}

.pager {
  margin: 5px 0;
}

.btn {
  margin-left: 10px;
}

.navbar {
  border-radius: 0px !important;
  margin: 0 0 5px 0;
}

.navbar-brand {
  font-weight: bold;
}

h1 {
  font-size: 200%;
  border-bottom: 1px solid #aaa;
}

header h1 {
  border-bottom: none;
}

h2 {
  font-size: 128%;
  font-weight: bold;
}

h3 {
  font-size: 100%;
  text-decoration: underline;
}

.footer {
  min-height:40px;
  background-color:#f5f5f5;
}

.navbar-collapse {
  max-width:768px;
}

.container {
  width:auto;
  max-width:1100px;
  padding:0 15px;
}

.container .credit {
  margin:20px 0;
}

.panel-heading {
  padding:5px;
  border-bottom: 0px;
}

.panel-body {
  padding:5px;
}

.panel-body p {
  margin: 0px;
}

figure {
  margin: 0 0 10px 0;
  padding: 4px;
  border: 1px solid #eee;
  display: table;
  max-width:100%;
}

img {
  max-width:100%;
}

figure img {
  display: block;
}

figcaption {
  text-align: center;
  display: table-caption;
  caption-side: bottom;
}

th {
  background: #dddddd;
  text-align: initial;
  vertical-align: bottom;
}

table, td, th {
  border-color: gray;
  border-style: solid;
  margin: 0 0 10px 0;
  page-break-inside:auto;
  font-weight: normal;
}

table {
  border-width: 0 0 1px 1px;
  border-spacing: 0;
  border-collapse: collapse;
  max-width:100%;
}

td, th {
  margin: 0;
  padding: 4px;
  border-width: 1px 1px 0 0;
  min-width: 50px;
}

blockquote p {
  font-size: 110%;
}

.latex-inline {
  vertical-align: middle;
}
